/*!*******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loading-overlay/dist/css/index.css ***!
  \*******************************************************************************************************/
.vl-shown {
  overflow: hidden;
}

.vl-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
}

.vl-overlay.vl-active {
  display: flex;
}

.vl-overlay.vl-full-page {
  z-index: 9999;
  position: fixed;
}

.vl-overlay .vl-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  opacity: 0.5;
}

.vl-overlay .vl-icon, .vl-parent {
  position: relative;
}


/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/all.scss ***!
  \************************************************************************************************************/
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  text-align: justify;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

#wrapper {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 2px;
}
#wrapper::before {
  content: "";
  background-image: url(../4ba18d6c440bf0fe3b92.png);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
  z-index: -1;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.l-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5vw;
}

.l-header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-header h1 {
  text-align: center;
  padding-bottom: 4vw;
}

.l-container {
  width: clamp(273px, 95vw, 880px);
  display: flex;
  flex-direction: column;
}

.m-search {
  display: flex;
  flex-direction: column;
}
.m-search__box {
  display: flex;
  flex-direction: column;
}
.m-search__box-filter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
@media screen and (max-width: 428px) {
  .m-search__box-filter {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.m-search__box-filter_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}
@media screen and (max-width: 428px) {
  .m-search__box-filter_item {
    width: 100%;
    padding-bottom: 5vw;
  }
}
.m-search__box-filter_item label {
  padding-bottom: 10px;
}
.m-search__box-filter_item input {
  border: 1px solid;
}
.m-search__box-filter_item select {
  padding: 10px 5px;
  letter-spacing: 2px;
  border: 1px solid;
}
.m-search__box-type {
  display: flex;
  flex-direction: column;
  position: relative;
}
.m-search__box-type_title {
  padding-bottom: 10px;
}
.m-search__box-type_items {
  display: flex;
}
@media screen and (max-width: 428px) {
  .m-search__box-type_items {
    padding-bottom: 8vw;
    justify-content: space-between;
  }
}
.m-search__box-type_items input[type=radio] {
  display: none;
}
.m-search__box-type_items input[type=radio] + label {
  border: 1px solid black;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
@media screen and (max-width: 428px) {
  .m-search__box-type_items input[type=radio] + label {
    width: 30%;
    margin-right: 0;
    padding: 10px 1vw;
  }
}
.m-search__box-type_items input[type=radio]:checked + label {
  background: #ffc730;
  border-color: #ffc730;
  color: white;
}
.m-search__box-type_items__item {
  border: 1px solid black;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.m-search__box-type_items__item:hover {
  background-color: #ffc730;
  color: white;
  border-color: #ffc730;
}
.m-search__search {
  border: 1px solid #2245b5;
  color: #2245b5;
  padding: 10px;
  text-align: center;
  width: 20%;
  margin-left: auto;
  background: none;
  font-size: 16px;
  letter-spacing: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 428px) {
  .m-search__search {
    width: 100%;
    position: static;
  }
}

.isValid {
  background-color: #2245b5;
  color: white;
  cursor: pointer;
}

.m-space__title {
  font-size: 25px;
  padding-top: 10vh;
  padding-bottom: 2vh;
}
.m-space__plan {
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  display: flex;
  padding: 20px 0;
  margin: 0 0 5vh 0;
  justify-content: space-between;
}
@media screen and (max-width: 428px) {
  .m-space__plan {
    flex-direction: column;
  }
}
.m-space__plan-container {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 428px) {
  .m-space__plan-container {
    flex-direction: column;
  }
}
.m-space__plan-container_img {
  width: 45%;
}
@media screen and (max-width: 428px) {
  .m-space__plan-container_img {
    width: 100%;
  }
}
.m-space__plan-container_info {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1vw;
  font-size: 16px;
}
@media screen and (max-width: 428px) {
  .m-space__plan-container_info {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 428px) {
  .m-space__plan-container_info__name {
    padding: 3vw 0;
  }
}
.m-space__plan-container_info__time {
  display: flex;
}
@media screen and (max-width: 428px) {
  .m-space__plan-container_info__time {
    justify-content: space-between;
    padding-bottom: 3vw;
  }
}
.m-space__plan-container_info__time-icon {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 428px) {
  .m-space__plan-container_info__time-icon {
    width: 50%;
  }
}
.m-space__plan-container_info__time-timeList {
  display: flex;
  padding-left: 1vw;
  width: 40%;
}
@media screen and (max-width: 428px) {
  .m-space__plan-container_info__time-timeList {
    width: 50%;
    padding-left: 0;
  }
}
.m-space__plan-container_info__time-timeList select {
  width: 100%;
  padding: 5px;
  letter-spacing: 2px;
  border: 1px solid;
}
.m-space__plan-container_info__time input[type=radio] {
  display: none;
}
.m-space__plan-container_info__time input[type=radio] + label {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.m-space__plan-container_info__time input[type=radio]:checked + label {
  background: #2245b5;
  border-color: #2245b5;
  color: white;
}
.m-space__plan-container_info__time img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.m-space__plan-container_info__max {
  display: flex;
}
@media screen and (max-width: 428px) {
  .m-space__plan-container_info__max {
    padding-bottom: 3vw;
    justify-content: space-between;
  }
}
.m-space__plan-container_info__max-icon {
  display: flex;
  align-items: center;
}
.m-space__plan-container_info__max-icon img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
@media screen and (max-width: 428px) {
  .m-space__plan-container_info__max-icon {
    width: 50%;
  }
}
.m-space__plan-container_info__max-num {
  padding-left: 1vw;
}
.m-space__plan-container_info__detail {
  display: flex;
  align-items: center;
}
.m-space__plan-container_info__detail-icon {
  font-size: 20px;
  margin-right: 10px;
}
.m-space__plan-reservation {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
@media screen and (max-width: 428px) {
  .m-space__plan-reservation {
    width: 100%;
    justify-content: space-between;
  }
}
.m-space__plan-reservation img {
  width: 80px;
}
@media screen and (max-width: 428px) {
  .m-space__plan-reservation img {
    display: none;
  }
}
.m-space__plan-reservation_price {
  color: #d04957;
  font-weight: 900;
  padding-bottom: 10px;
}
.m-space__plan-reservation_price :first-child {
  font-size: 28px;
}
.m-space__plan-reservation_price :last-child {
  font-size: 40px;
}
.m-space__plan-reservation_btn {
  width: 10vw;
  padding: 10px;
  background-color: #d04957;
  color: white;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .m-space__plan-reservation_btn {
    width: 100%;
  }
}

.m-spaceInfo__title {
  font-size: 25px;
  padding-top: 10vh;
  padding-bottom: 2vh;
}
.m-spaceInfo__wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 428px) {
  .m-spaceInfo__wrapper {
    flex-direction: column;
  }
}
.m-spaceInfo__wrapper-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media screen and (max-width: 428px) {
  .m-spaceInfo__wrapper-container {
    width: 100%;
    padding-bottom: 5vw;
  }
  .m-spaceInfo__wrapper-container:last-child {
    padding-bottom: 0vw;
  }
}
.m-spaceInfo__wrapper-container_info {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 0;
}
@media screen and (max-width: 428px) {
  .m-spaceInfo__wrapper-container_info {
    padding: 2vw 0;
  }
}
.m-spaceInfo__wrapper-container_info__max {
  display: flex;
}
.m-spaceInfo__wrapper-container_info__max img {
  width: 20px;
  height: auto;
}
.m-spaceInfo__wrapper-container_info__max div {
  padding-left: 0.5vw;
}
@media screen and (max-width: 428px) {
  .m-spaceInfo__wrapper-container_info__max div {
    padding-left: 3vw;
  }
}

.m-pay {
  display: flex;
  padding-right: 1vw;
  justify-content: center;
  width: 50%;
  padding: 20px 0;
  justify-content: space-around;
  margin: 0 auto;
}
.m-pay div {
  border: 1px solid #2245b5;
  width: 150px;
  color: #2245b5;
  text-align: center;
  padding: 5px;
}

.dp__input {
  border-radius: 0;
}
