/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/all.scss ***!
  \************************************************************************************************************/
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  text-align: justify;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

#wrapper {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 2px;
}
#wrapper::before {
  content: "";
  background-image: url(../4ba18d6c440bf0fe3b92.png);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -1;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.l-body {
  border: 1px solid rgb(225, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5vw;
}

.l-header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-header h1 {
  text-align: center;
}

.l-container {
  width: clamp(273px, 92.1875vw, 880px);
  height: 90%;
}

.m-search {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}
.m-search__box {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.m-search__box-filter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.m-search__box-filter_item {
  display: flex;
  flex-direction: column;
  width: 32%;
}
.m-search__box-filter_item label {
  padding-bottom: 10px;
}
.m-search__box-filter_item input {
  padding: 10px 5px;
}
.m-search__box-filter_item select {
  padding: 10px 5px;
  letter-spacing: 2px;
}
.m-search__box-type {
  display: flex;
  flex-direction: column;
}
.m-search__box-type_title {
  padding-bottom: 10px;
}
.m-search__box-type_items {
  display: flex;
}
.m-search__box-type_items__item {
  border: 1px solid black;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.m-search__box-type_items__item:hover {
  background-color: #ffc730;
  color: white;
  border-color: #ffc730;
}
.m-search__search {
  background-color: #2245b5;
  color: white;
  padding: 10px;
  text-align: center;
  width: 20%;
  margin-left: auto;
}

.m-space__title {
  border-bottom: 5px solid #ffc730;
  font-size: 25px;
  padding-top: 5vh;
  padding-bottom: 10px;
}
.m-space__plan {
  border-top: 1px solid #929292;
  border-bottom: 1px solid #929292;
  display: flex;
  padding: 20px 0;
  margin: 5vh 0;
}
.m-space__plan-container {
  display: flex;
  width: 80%;
}
.m-space__plan-container_img {
  width: 45%;
}
.m-space__plan-container_info {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}
.m-space__plan-container_info__time {
  display: flex;
  align-items: center;
}
.m-space__plan-container_info__time img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.m-space__plan-container_info__time label {
  padding-right: 10px;
}
.m-space__plan-container_info__time select {
  margin-right: 5px;
  padding: 5px;
  letter-spacing: 2px;
}
.m-space__plan-container_info__max {
  display: flex;
}
.m-space__plan-container_info__max img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.m-space__plan-container_info__max :nth-child(2) {
  padding-right: 10px;
}
.m-space__plan-container_info__detail {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.m-space__plan-reservation {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
.m-space__plan-reservation img {
  width: 80px;
}
.m-space__plan-reservation_price {
  color: #d04957;
  font-weight: 900;
  padding-bottom: 10px;
}
.m-space__plan-reservation_price :first-child {
  font-size: 28px;
}
.m-space__plan-reservation_price :last-child {
  font-size: 40px;
}
.m-space__plan-reservation_btn {
  width: 10vw;
  padding: 10px;
  background-color: #d04957;
  color: white;
  text-align: center;
}

.m-pay {
  display: flex;
  padding-right: 1vw;
  justify-content: center;
  width: 50%;
  padding: 20px 0;
  justify-content: space-around;
  margin: 0 auto;
}
.m-pay div {
  border: 1px solid #2245b5;
  width: 150px;
  color: #2245b5;
  text-align: center;
  padding: 5px;
}

.datepicker {
  display: none;
}
.datepicker.active {
  display: block;
}

.datepicker-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 4px;
}
.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px;
}

.datepicker-picker {
  display: inline-block;
  border-radius: 4px;
  background-color: hsl(0deg, 0%, 100%);
}
.datepicker-dropdown .datepicker-picker {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.datepicker-picker span {
  display: block;
  flex: 1;
  border: 0;
  border-radius: 4px;
  cursor: default;
  text-align: center;
  -webkit-touch-callout: none;
  user-select: none;
}

.datepicker-main {
  padding: 2px;
}

.datepicker-footer {
  box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
  background-color: hsl(0deg, 0%, 96%);
}

.datepicker-grid, .datepicker-view .days-of-week, .datepicker-view, .datepicker-controls {
  display: flex;
}

.datepicker-grid {
  flex-wrap: wrap;
}

.datepicker-view .days .datepicker-cell, .datepicker-view .dow {
  flex-basis: 14.2857142857%;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  flex-basis: 25%;
}

.datepicker-cell, .datepicker-view .week {
  height: 2.25rem;
  line-height: 2.25rem;
}

.datepicker-title {
  box-shadow: inset 0 -1px 1px rgba(10, 10, 10, 0.1);
  background-color: hsl(0deg, 0%, 96%);
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-weight: 700;
}

.datepicker-header .datepicker-controls {
  padding: 2px 2px 0;
}
.datepicker-controls .button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: none;
  background-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  padding: calc(0.375em - 1px) 0.75em;
  height: 2.25em;
  vertical-align: top;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  color: hsl(0deg, 0%, 21%);
  font-size: 1rem;
}
.datepicker-controls .button:focus, .datepicker-controls .button:active {
  outline: none;
}
.datepicker-controls .button:hover {
  border-color: #b5b5b5;
  color: hsl(0deg, 0%, 21%);
}
.datepicker-controls .button:focus {
  border-color: hsl(217deg, 71%, 53%);
  color: hsl(0deg, 0%, 21%);
}
.datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.datepicker-controls .button:active {
  border-color: #4a4a4a;
  color: hsl(0deg, 0%, 21%);
}
.datepicker-controls .button[disabled] {
  cursor: not-allowed;
}
.datepicker-header .datepicker-controls .button {
  border-color: transparent;
  font-weight: bold;
}
.datepicker-header .datepicker-controls .button:hover {
  background-color: #f9f9f9;
}
.datepicker-header .datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}
.datepicker-header .datepicker-controls .button:active {
  background-color: #f2f2f2;
}
.datepicker-header .datepicker-controls .button[disabled] {
  box-shadow: none;
}
.datepicker-footer .datepicker-controls .button {
  margin: calc(0.375rem - 1px) 0.375rem;
  border-radius: 2px;
  width: 100%;
  font-size: 0.75rem;
}
.datepicker-controls .view-switch {
  flex: auto;
}
.datepicker-controls .prev-btn,
.datepicker-controls .next-btn {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  width: 2.25rem;
}
.datepicker-controls .prev-btn.disabled,
.datepicker-controls .next-btn.disabled {
  visibility: hidden;
}

.datepicker-view .dow {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.datepicker-view .week {
  width: 2.25rem;
  color: #b5b5b5;
  font-size: 0.75rem;
}
@media (max-width: 22.5rem) {
  .datepicker-view .week {
    width: 1.96875rem;
  }
}

.datepicker-grid {
  width: 15.75rem;
}
@media (max-width: 22.5rem) {
  .calendar-weeks + .days .datepicker-grid {
    width: 13.78125rem;
  }
}

.datepicker-cell:not(.disabled):hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.datepicker-cell.focused:not(.selected) {
  background-color: #e8e8e8;
}
.datepicker-cell.selected, .datepicker-cell.selected:hover {
  background-color: hsl(217deg, 71%, 53%);
  color: #fff;
  font-weight: 600;
}
.datepicker-cell.disabled {
  color: #dbdbdb;
}
.datepicker-cell.prev:not(.disabled), .datepicker-cell.next:not(.disabled) {
  color: hsl(0deg, 0%, 48%);
}
.datepicker-cell.prev.selected, .datepicker-cell.next.selected {
  color: #e6e6e6;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  border-radius: 0;
  background-color: hsl(0deg, 0%, 96%);
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
  background-color: #eeeeee;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: #e8e8e8;
}
.datepicker-cell.today:not(.selected) {
  background-color: hsl(171deg, 100%, 41%);
}
.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff;
}
.datepicker-cell.today.focused:not(.selected) {
  background-color: #00c4a7;
}
.datepicker-cell.range-end:not(.selected), .datepicker-cell.range-start:not(.selected) {
  background-color: #b5b5b5;
  color: #fff;
}
.datepicker-cell.range-end.focused:not(.selected), .datepicker-cell.range-start.focused:not(.selected) {
  background-color: #afafaf;
}
.datepicker-cell.range-start {
  border-radius: 4px 0 0 4px;
}
.datepicker-cell.range-end {
  border-radius: 0 4px 4px 0;
}
.datepicker-cell.range {
  border-radius: 0;
  background-color: #dbdbdb;
}
.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: #d5d5d5;
}
.datepicker-cell.range.disabled {
  color: #c2c2c2;
}
.datepicker-cell.range.focused {
  background-color: #cfcfcf;
}
.datepicker-view.datepicker-grid .datepicker-cell {
  height: 4.5rem;
  line-height: 4.5rem;
}

.datepicker-input.in-edit {
  border-color: #2366d1;
}
.datepicker-input.in-edit:focus, .datepicker-input.in-edit:active {
  box-shadow: 0 0 0.25em 0.25em rgba(35, 102, 209, 0.2);
}
