<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Vue2 開發模式 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->

    <!-- Vue3 開發模式 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/@vuepic/vue-datepicker@latest"></script>
    <link rel="stylesheet" href="https://unpkg.com/@vuepic/vue-datepicker@latest/dist/main.css">


<script defer src="./js/index.b315aa3915d37b0d0e69.js"></script><link href="./css/index.b315aa3915d37b0d0e69.css" rel="stylesheet"></head>
<body>
    <div id="app">
        <div id="wrapper">
            <div class="l-body">
                <div class="l-container">
                    <header class="l-header">
                        <h1>我要預約</h1>
                    </header>

                    <div class="m-search">
                        <div class="m-search__box">
                            <div class="m-search__box-filter">
                                <div class="m-search__box-filter_item">
                                    <label for="">預約日期</label>
                                    <Calendar @update-date="getDateValFromChild"></Calendar>
                                    <!-- @date-update="getDateValFromChild" -->
                                    <!-- <my-component></my-component> -->

                                </div>
                                <div class="m-search__box-filter_item">
                                    <label for="">預約人數</label>
                                    <select v-model="people">
                                        <option disabled value="">請選擇人數</option>
                                        <option :value="num" v-for="num in 12" :key="num">{{ num }}</option>
                                        <!-- <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option> -->
                                    </select>
                                </div>
                                <!-- <div class="m-search__box-filter_item">
                                    <label for="">預約時數</label>
                                    <select>
                                        <option>請選擇時數</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div> -->
                            </div>
                            <div class="m-search__box-type">
                                <div class="m-search__box-type_title">
                                    預約類型
                                </div>
                                <div class="m-search__box-type_items">
                                    <input type="radio" id="people" name="type" value="人頭" v-model="type">
                                    <label for="people">玩桌遊(人頭)</label>
                                    <!-- <div class="m-search__box-type_items__item">
                                        
                                    </div> -->
                                    <input type="radio" id="box" name="type" value="包廂" v-model="type">
                                    <label for="box">玩桌遊(包廂)</label>
                                    <!-- <div class="m-search__box-type_items__item">
                                        
                                    </div> -->
                                    <input type="radio" id="rent" name="type" value="空間" v-model="type">
                                    <label for="rent">租借空間</label>
                                    <!-- <div class="m-search__box-type_items__item">
                                        
                                    </div> -->


                                </div>
                                <button class="m-search__search" :disabled="!searchIsValid" :class="isValid"
                                    @click="handleSearchSpace">
                                    搜尋空間
                                </button>
                            </div>
                        </div>

                    </div>
                    <!-- v-if="!isSearching" -->
                    <div class="m-spaceInfo" v-if="!isSearching">
                        <div class="m-spaceInfo__title">
                            空間介紹
                        </div>
                        <div class="m-spaceInfo__wrapper">
                            <div class="m-spaceInfo__wrapper-container">

                                <div class="m-spaceInfo__wrapper-container_img">
                                    <img src="img/room_1.png" alt="">
                                </div>
                                <div class="m-spaceInfo__wrapper-container_info">
                                    <div class="m-spaceInfo__wrapper-container_info__name">
                                        流浪動物收容所
                                    </div>
                                    <div class="m-spaceInfo__wrapper-container_info__max">
                                        <img src="img/icon_user.png" alt="">
                                        <div> 2-4 </div>
                                    </div>
                                </div>

                            </div>
                            <div class="m-spaceInfo__wrapper-container">

                                <div class="m-spaceInfo__wrapper-container_img">
                                    <img src="img/room_2.png" alt="">
                                </div>
                                <div class="m-spaceInfo__wrapper-container_info">
                                    <div class="m-spaceInfo__wrapper-container_info__name">
                                        大野狼的大肚肚
                                    </div>
                                    <div class="m-spaceInfo__wrapper-container_info__max">
                                        <img src="img/icon_user.png" alt="">
                                        <div> 4-10 </div>
                                    </div>
                                </div>

                            </div>
                            <div class="m-spaceInfo__wrapper-container">

                                <div class="m-spaceInfo__wrapper-container_img">
                                    <img src="img/room_3.png" alt="">
                                </div>
                                <div class="m-spaceInfo__wrapper-container_info">
                                    <div class="m-spaceInfo__wrapper-container_info__name">
                                        圓桌武士的殿堂
                                    </div>
                                    <div class="m-spaceInfo__wrapper-container_info__max">
                                        <img src="img/icon_user.png" alt="">
                                        <div> 8-12 </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <loading :is-full-page="false"></loading>
                    <div class="m-space" v-if="filterSpaceData.length > 0">
                        <div class="m-space__title">
                            可預約的空間
                        </div>
                        <div class="m-space__plan" v-for="(item, index) in filterSpaceData" :key="item.index">

                            <div class="m-space__plan-container">

                                <div class="m-space__plan-container_img">
                                    <img :src=imgType(item.SpaceName) alt="">
                                </div>
                                <div class="m-space__plan-container_info">
                                    <div class="m-space__plan-container_info__name">
                                        <h3>{{item.SpaceName}}</h3>
                                    </div>
                                    <div class="m-space__plan-container_info__max">
                                        <div class="m-space__plan-container_info__max-icon">
                                            <img src="img/icon_user.png" alt="">
                                            <div>容納人數</div>
                                        </div>
                                        <div class="m-space__plan-container_info__max-num">
                                            {{item.MinCapacity}}-{{item.MaxCapacity}} 人</div>
                                    </div>
                                    <div class="m-space__plan-container_info__time">

                                        <div class="m-space__plan-container_info__time-icon">
                                            <img src="img/icon_time.png" alt="">
                                            <span>開始時間</span>
                                        </div>

                                        <div class="m-space__plan-container_info__time-timeList">
                                            <select @change="handleSelectStartTime($event, item.SpaceName)">
                                                <option disabled value="" :selected>請選擇開始時間</option>
                                                <option v-for="data in item.AvailableTime" :value="data">{{data}} : 00
                                                </option>
                                            </select>
                                            <!-- <div  v-for="data in item.AvailableTime" >
                                                <input type="radio" :id="data+item.SpaceName+item.Remark" :name="data" :value="data" @change="(e) => selectStartTime(data, item.SpaceName,item.Remark )" >
                                                <label :for="data+item.SpaceName+item.Remark">{{data}}:00</label>
                                            </div> -->
                                        </div>




                                    </div>

                                    <div class="m-space__plan-container_info__time">
                                        <div v-if="selectSpaceName === item.SpaceName"
                                            class="m-space__plan-container_info__time-icon">
                                            <img src="img/icon_time.png" alt="">
                                            <span>結束時間</span>
                                        </div>

                                        <div v-if="selectSpaceName === item.SpaceName"
                                            class="m-space__plan-container_info__time-timeList">
                                            <select @change="handleSelectEndTime($event)" v-model="endTime">
                                                <option disabled value="">請選擇結束時間</option>
                                                <option v-for="data in endTimeData" :value="data">{{data}} : 00</option>
                                            </select>
                                            <!-- <div  v-for="data in endTime[index.index]" >
                                                <input type="radio" :id="data" :name="item.name" :value="data" @change="(e) => clickTime(e, item.index, data)" :disabled="available(item.index)">
                                                <label :for="data">{{data}}</label>
                                            </div> -->
                                        </div>
                                    </div>





                                    <div class="m-space__plan-container_info__detail"
                                        v-if="selectSpaceName === item.SpaceName && discount">
                                        <div class="m-space__plan-container_info__detail-icon">
                                            <font-awesome-icon icon="fa-solid fa-gift" />
                                        </div>
                                        <span>{{discount}}</span>
                                    </div>
                                </div>

                            </div>

                            <div class="m-space__plan-reservation">
                                <img :src=iconType(item.SpaceName) alt="">
                                <div class="m-space__plan-reservation_price">
                                    <span>$</span>
                                    <span>{{selectSpaceName === item.SpaceName ? price : 0}} </span>
                                    <span>
                                        /{{type === '人頭' ? '人' :
                                        '間'}}
                                    </span>
                                </div>
                                <div class="m-space__plan-reservation_btn" @click=handleCheckPrice(item.SpaceId)>
                                    預約
                                </div>
                            </div>
                        </div>



                        <!-- <div class="m-space__plan">
                            
                            <div class="m-space__plan-container">
                                
                                <div  class="m-space__plan-container_img">
                                    <img src="img/room_2.png" alt="">
                                </div>
                                <div  class="m-space__plan-container_info">
                                    <div class="m-space__plan-container_info__name">
                                        <h3>大野狼的肚肚</h3>
                                    </div>
                                    <div class="m-space__plan-container_info__max">
                                        <img src="img/icon_user.png" alt="">
                                        <div>容納人數</div>
                                        <div> 4-10 人</div> 
                                    </div>
                                    <div class="m-space__plan-container_info__time">
                                        <img src="img/icon_time.png" alt="">
                                        <label for="">預約時段</label>
                                        <select>
                                            <option>請選擇時段</option>
                                            <option>10 : 00 ~ 13 : 00</option>
                                            <option>13 : 00 ~ 15 : 00</option>
                                            <option>18 : 00 ~ 21 : 00</option>
                                        </select>
                                    </div>
                                    
                                    <div class="m-space__plan-container_info__detail">
                                        <span>$360 / 3小時 贈送一瓶飲料</span>
                                        <span>$520 / 5小時 贈送一瓶飲料 + $100餐點</span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="m-space__plan-reservation">
                                <img src="img/space_2.png" alt="">
                                <div class="m-space__plan-reservation_price">
                                    <span>$</span>
                                    <span>360</span>
                                </div>
                                <div class="m-space__plan-reservation_btn">
                                    預約
                                </div>
                            </div>
                        </div>
    
                        <div class="m-space__plan">
                            
                            <div class="m-space__plan-container">
                                
                                <div  class="m-space__plan-container_img">
                                    <img src="img/room_3.png" alt="">
                                </div>
                                <div  class="m-space__plan-container_info">
                                    <div class="m-space__plan-container_info__name">
                                        <h3>圓桌武士的殿堂</h3>
                                    </div>
                                    <div class="m-space__plan-container_info__max">
                                        <img src="img/icon_user.png" alt="">
                                        <div>容納人數</div>
                                        <div> 8-12 人</div> 
                                    </div>
                                    <div class="m-space__plan-container_info__time">
                                        <img src="img/icon_time.png" alt="">
                                        <label for="">預約時段</label>
                                        <select>
                                            <option>請選擇時段</option>
                                            <option>10 : 00 ~ 13 : 00</option>
                                            <option>13 : 00 ~ 15 : 00</option>
                                            <option>18 : 00 ~ 21 : 00</option>
                                        </select>
                                    </div>
                                    
                                    <div class="m-space__plan-container_info__detail">
                                        <span>$360 / 3小時 贈送一瓶飲料</span>
                                        <span>$520 / 5小時 贈送一瓶飲料 + $100餐點</span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="m-space__plan-reservation">
                                <img src="img/space_3.png" alt="">
                                <div class="m-space__plan-reservation_price">
                                    <span>$</span>
                                    <span>360</span>
                                </div>
                                <div class="m-space__plan-reservation_btn">
                                    預約
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div v-if="filterSpaceData.length === 0 && isSearching === true">
                        預約已滿
                    </div> -->
                </div>
            </div>
            <div class="m-priceModal" v-if="priceModalIsOpen">
                <div class="m-priceModal__wrapper">
                    <div class="m-priceModal__wrapper-container">
                        <h3 class="m-priceModal__wrapper-container_title">
                            預約內容
                        </h3>
                        <div class="m-priceModal__wrapper-container_itemsContainer">
                            <div class="m-priceModal__wrapper-container_itemsContainer__item">
                                <div>預約日期：</div>
                                <div>{{date}}</div>
                            </div>
                            <div class="m-priceModal__wrapper-container_itemsContainer__item">
                                <div>預約時間：</div>
                                <div>{{startTime}}：00 - {{endTime}}：00</div>
                            </div>
                            <div class="m-priceModal__wrapper-container_itemsContainer__item">
                                <div>預約人數：</div>
                                <div>{{people}}</div>
                            </div>
                            <div class="m-priceModal__wrapper-container_itemsContainer__item">
                                <div>預約類型：</div>
                                <div>{{type}}</div>
                            </div>
                            <div class="m-priceModal__wrapper-container_itemsContainer__item">
                                <div>預約空間：</div>
                                <div>{{selectSpaceName}}</div>
                            </div>
                            <div class="m-priceModal__wrapper-container_itemsContainer__item"
                                v-if="priceCheckData[0].Remark">
                                <div><font-awesome-icon icon="fa-solid fa-gift" /></div>
                                <div>{{priceCheckData[0].Remark}}</div>
                            </div>
                        </div>
                        <div class="m-priceModal__wrapper-container_priceContainer">
                            <div class="m-priceModal__wrapper-container_priceContainer__title">金額</div>
                            <div class="m-priceModal__wrapper-container_priceContainer__price">
                                {{priceCheckData[0].TotalPrice}}
                            </div>
                        </div>
                        <h3 class="m-priceModal__wrapper-container_title">
                            聯絡資訊
                        </h3>
                        <div class="m-priceModal__wrapper-container_formContainer">
                            <div class="m-priceModal__wrapper-container_formContainer__item">
                                <label for="">預約姓名</label>
                                <input type="text" v-model="customName">
                            </div>
                            <div class="m-priceModal__wrapper-container_formContainer__item">
                                <label for="">聯絡電話</label>
                                <input type="text" v-model="customPhone">
                            </div>
                            <div class="m-priceModal__wrapper-container_formContainer__item">
                                <label for="">性別</label>
                                <select v-model="customGender">
                                    <option disabled value="">請選擇性別</option>
                                    <option value="M">男生</option>
                                    <option value="F">女生</option>
                                </select>
                            </div>
                        </div>
                        <div class="m-priceModal__wrapper-container_BtnWrapper">
                            <div class="m-priceModal__wrapper-container_BtnWrapper__cancleBtn"
                                @click="handleReservation">
                                取消預約
                            </div>
                            <div class="m-priceModal__wrapper-container_BtnWrapper__confirmBtn"
                                @click="handleReservation">
                                確認預約
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div> <!--Wrapper End-->
    </div>
</body>


</html>